@(locations: List[Location], username: String, role:String,events: List[Event])
@main(title = "Services Page" , null, null) {

<h1>Services page</h1>
<p>Hello from Services Page</p>
@for(location <- locations){
    @location.id <br>
    @location.name <br>
    @location.address <br>
    @location.latitude <br>
    @location.longitude <br>
    
}
<div class="form-group">
<label for="location">Location:</label>
<select class="form-control" class="form-control" name="location" id="location" placeholder="location">
@for(location <- locations){
 <option value=@location.id>@location.id @location.name  @location.address @location.latitude @location.longitude</option>   
    
}
</select> 
 </div>
 
      <div class="form-group">
    		<label for="location">Location:</label>
 				<select class="form-control" class="form-control" name="location" id="location" placeholder="location">
    				<option>1</option>
    				<option>2</option>
    				<option>3</option>
    				<option>4</option>
  				</select>
      	<!--<input type="text" class="form-control" name="location" id="location" placeholder="location">-->
      </div>
}